[submodule "vim/vim.symlink/bundle/command-t.git"]
	path = vim/vim.symlink/bundle/command-t.git
	url = git://git.wincent.com/command-t.git
[submodule "vim/vim.symlink/bundle/vim-surround"]
	path = vim/vim.symlink/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim.symlink/bundle/vim-commentary"]
	path = vim/vim.symlink/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/vim.symlink/bundle/ruby-matchit"]
	path = vim/vim.symlink/bundle/ruby-matchit
	url = https://github.com/vim-scripts/ruby-matchit.git
[submodule "vim/vim.symlink/bundle/marvim"]
	path = vim/vim.symlink/bundle/marvim
	url = https://github.com/vim-scripts/marvim.git
[submodule "vim/vim.symlink/bundle/tagbar"]
	path = vim/vim.symlink/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
